.passenger-body {
    .header {
        display: flex;
        margin-top: 30px;

        .add-passenger {
            width: 100px;
            margin-left: auto;
            color: white;
        }
    }
}