<div class="shell box">
    <!-- <div class="progress-bar-wrapper" *ngIf="IS_BUSY">
      <div class="progress-bar">
        <div class="progress-bar-value"></div>
      </div>
    </div> -->
  
    <div class="shell-topbar">
      <side-bar></side-bar>
    </div>
  
    <h2>Welcome to Mike's Plane Booking Application!</h2>
    <div class="shell-main">
      <section class="shell-main-content">
        <router-outlet></router-outlet>
      </section>
    </div>
    
    <!-- <div class="overlay" *ngIf="IS_BUSY" [@enterAnimation]></div> -->
  </div>
