<div class="plane-info-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title text-center">{{title}}</h3>
        </div>
        <div class="modal-body">
            <form [formGroup]="planeForm" (ngSubmit)="submit()">
                <div>
                    <div>
                        <label class="col-form-label">Code</label>
                        <div class="form-group">
                            <input type="text" placeholder="Enter code" class="form-control"
                                formControlName="Code">
                        </div>
                        <!-- Code error messages -->
                        <div *ngIf="(planeForm.controls['Code'].touched || info) && planeForm.controls['Code'].errors as errors" class="alert alert-danger">
                            <small *ngIf="errors['apiError']">{{ errors['apiError'] }}</small>
                            <small *ngIf="!errors['apiError']">Sorry, this field cannot be blank.</small>
                        </div>
                    </div>
                    <div>
                        <label class="col-form-label">Airline</label>
                        <div class="form-group">
                            <input type="text" placeholder="Enter airline" class="form-control"
                                formControlName="Airline">
                        </div>
                        <!-- Airline error messages -->
                        <div *ngIf="(planeForm.controls['Airline'].touched || info) && planeForm.controls['Airline'].errors as errors" class="alert alert-danger">
                            <small *ngIf="errors['apiError']">{{ errors['apiError'] }}</small>
                            <small *ngIf="!errors['apiError']">Sorry, this field cannot be blank.</small>
                        </div>
                    </div>
                    <div>
                        <label class="col-form-label">Model</label>
                        <div class="form-group">
                            <input type="text" placeholder="Enter model" class="form-control"
                                formControlName="Model">
                        </div>
                        <!-- Model error messages -->
                        <div *ngIf="(planeForm.controls['Model'].touched || info) && planeForm.controls['Model'].errors as errors" class="alert alert-danger">
                            <small *ngIf="errors['apiError']">{{ errors['apiError'] }}</small>
                            <small *ngIf="!errors['apiError']">Sorry, this field cannot be blank.</small>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn btn-success save-button"
                            [disabled]="planeForm.invalid || !hasChanges">Submit</button>
                        <button class="btn btn-danger"
                            (click)="activeModal.close(false)">Cancel</button>
                    </div>
                </div>

                <div class="overlay" *ngIf="IS_BUSY"></div>
            </form>
        </div>
    </div>
</div>
